@import "tailwindcss";

@font-face {
  font-family: "ClashDisplay";
  src: url("./../public/fonts/ClashDisplay/ClashDisplay-Variable.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./../public/fonts/Satoshi/Satoshi-Variable.ttf");
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-primary: "ClashDisplay", system-ui, sans-serif;
  --font-secondary: "Satoshi", system-ui, sans-serif;
}

@theme {
  /* colors */
  --color-primary: #1faa1f;
  --color-secondary: #105510;
  --color-grayed: #5D5D5D;
  --color-placeholder: #8B8B8B;
  --color-negative: #aa310b;

  --color-primary-background: #d5ffd5;

  /* shadows */
  --shadow-neobrutalist: 6px 6px 0 0 rgba(0, 0, 0, 1);
  --shadow-neobrutalist-sm: 4px 4px 0 0 rgba(0, 0, 0, 1);
  --shadow-neobrutalist-xs: 2px 2px 0 0 rgba(0, 0, 0, 1);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-primary;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.text-white-border {
  text-shadow: 
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff,
    -2px 0px 0 #fff,
    2px 0px 0 #fff,
    0px -2px 0 #fff,
    0px 2px 0 #fff;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
