@import "tailwindcss";

@font-face {
  font-family: "ClashDisplay";
  src: url("./../public/fonts/ClashDisplay/ClashDisplay-Variable.ttf");
}

:root {
  --background:             #ffffff;
  --foreground:             #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  /* colors */
  --color-primary:                #1FAA1F;
  --color-secondary:              #105510;
  --color-negative:               #AA310B;

  --color-primary-background:     #D5FFD5;

  /* shadows */
  --shadow-neobrutalist:          6px 6px 0 0 rgba(0, 0, 0, 1.00);
  --shadow-neobrutalist-sm:       2px 2px 0 0 rgba(0, 0, 0, 1.00)
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "ClashDisplay", Helvetica sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}